/* Import URL */
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap");

/* Reset Global */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Oxanium", cursive;
}

body {
  text-align: center;
  background: linear-gradient(to bottom, #6ab7f5, #fff);
  min-height: 100vh;
}

main {
  display: inline-block;
  margin-top: 6%;
  position: relative;
}

.pokedex_image {
  width: 100%;
  padding: 15px;
}

.actual_pokemon {
  position: absolute;
  width: 25%;
  top: 33%;
  left: 34%;
}

.number_name {
  font-weight: bold;
  position: absolute;
  top: 55%;
  left: 51%;
  white-space: nowrap;
  transform: translateX(-50%);
  font-size: clamp(50%, 4vw, 150%);
}

.number_pokemon {
  color: grey;
}

.form_pokemon {
  position: absolute;
  top: 70%;
  left: 20%;
  width: 50%;
  box-shadow: -2px 2px 0px 0px grey, -4px 4px 0px 0px #000000;
  border-radius: 5px;
}

.form_pokemon input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.buttons {
  display: flex;
  position: absolute;
  top: 82%;
  left: 19%;
  width: 100%;
  gap: 2%;
}

.buttons button {
  width: 25%;
  padding: 10px;
  background-color: #444444;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 2px;
  box-shadow: -2px 2px 0px 0px grey, -4px 4px 0px 0px #000000;
}

.buttons button:active {
  background-color: grey;
}
